@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Solway:wght@300;400;700&display=swap");
.col {
  width: calc(90% / 4);
}

.col-1 {
  width: calc(100% / 12 * 1);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: calc(100% / 12 * 3);
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5);
}

.col-6 {
  width: calc(100% / 12 * 6);
}

.col-7 {
  width: calc(100% / 12 * 7);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-9 {
  width: calc(100% / 12 * 9);
}

.col-10 {
  width: calc(100% / 12 * 10);
}

.col-11 {
  width: calc(100% / 12 * 11);
}

.col-12 {
  width: calc(100% / 12 * 12);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  letter-spacing: .1rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: #4b1cfd;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.1rem 1.2rem 0rem 1.2rem;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  border-bottom: 0.06rem solid rgba(109, 12, 206, 0.5);
}

.header-logo {
  width: 4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.2;
}

.header-logo img {
  width: 100%;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-navigation .btn {
  text-align: center;
  background-color: #4b1cfd;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 0.75rem;
  padding: 0.5rem 0.8rem;
  font-family: 'Poppins', sans-serif;
  display: block;
  margin: 1rem 0.5rem;
}

.header-navigation .header-logout {
  text-align: center;
  background-color: #4b1cfd;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 0.75rem;
  padding: 0.5rem 0.5rem;
  font-family: 'Poppins', sans-serif;
  display: block;
  margin: 1rem 0.5rem;
}

.header-navigation .fas {
  font-size: 2.3rem;
  margin-right: 0.8rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2rem 2rem 0.1rem;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  color: #4b1cfd;
  border-top: 0.06rem solid rgba(109, 12, 206, 0.5);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* &-logo{
        width: 3rem;

        img{
            width: 100%;
        }
    }*/
}

.footer .nav {
  font-size: 0.7rem;
}

.footer-favicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /*color: $base-color;*/
}

/* Paragraphes en bleu par défaut */
p {
  color: blue;
}

/* Media queries pour le footer et le header */
@media screen and (max-device-width: 480px) {
  .header .btn, .footer .btn {
    font-size: 0.5rem;
  }
  footer .nav {
    font-size: 3 rem;
  }
}
/*# sourceMappingURL=style.css.map */