@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;700&display=swap');
// font-family: 'Poppins', sans-serif;      text
// font-family: 'Solway', serif;     titre



// colors :
$base-color: #4b1cfd;
$sd-color: #6D0CCE;


* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
}
.header{
    display:flex;
    justify-content:space-between;
    padding: 1rem;
    background-color:#e7e8e8;
    

    &-logo{
        width: 5rem;

        img{
            width: 100%;
        }
    }

    &-navigation{
        display: flex;
        align-items: center;
        .btn{
            background-color: $base-color;
            color:white;
            padding: 0.7rem 1rem;
            border-radius: 10px;
            margin-left: 1rem;
        }
    }
}

// Chloé's sauce
.accueil{
    
    p{
        font-family: 'Poppins', sans-serif;
    }
    .row-home{
        background-color: #fff;
        text-align:center;
        margin-top: 5%;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 1%;
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 10px;
    }
    .btn-primary{
        background-color: #4b1cfd;
        text-align: center;
        color:white;
        border-radius: 5px;
        border: none;
        padding: 0.5rem 0.8rem;
        font-family: 'Poppins', sans-serif;
        display:block;
        margin:1rem auto;
    }
    .text{
        width: 50%;
        padding: 1.8rem;
        text-align: start;
        

    }
    .preview{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .preview-img{
        width:100%;
        padding:5%
    }
    
    h1{
        font-size: 2.5rem;
        margin-bottom: 2rem;
        color:#4b1cfd;
        font-family: 'Solway', serif; 
        text-align: center;
        letter-spacing: .1rem;
        text-shadow: 
            -1px -1px 1px #4b1cfd70, 
            2px 2px 1px #4b1cfd25;
        font-weight: bold;
    }
    
    .grey{
        font-family: 'Poppins', sans-serif;
        color: grey;
        margin-top: 1%;
        font-size: 9px;
        line-height: 1.3rem;
        text-align: center;
    }
    
    .desc{
        font-family: 'Poppins', sans-serif;
        margin-top: 3%;
        margin-bottom: 1%;
        text-indent: 1rem;
        line-height: 1.3rem;
    }

    .background{
        background-image: url(../images/bkgd.jpeg);
        background-size: cover;
        position:fixed;
        opacity:0.7;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index:-100;
    }


}


